#cardContainer {
    text-align: center;
    margin-top: 50px;
}

#tarotImage {
    width: 300px;
    margin-top: 20px;
    display: block;  /* Ensures the image is on its own line */
    margin-left: auto;  /* Centers the image horizontally */
    margin-right: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
